<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Send me Postcards from AI</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
  </head>
  <body>
    <header>
      <h1>Send me Postcards from AI</h1>
    </header>
    <main>
      <label id="label" for="textInput">On AI it is very...</label>
      <input type="text" id="textInput" name="textInput" placeholder="Text">
      <button id="button" onclick="returnText()">generate postcard</button>
      <div id="result"></div>
    </main>
    <footer>
      <p>Idea by Annemarie Firnkes & Maritza Lapeira</p>
      <p1>Built by Marvin Voss</p1>
    </footer>
  </body>
</html>
