<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Send me Postcards from AI</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Send me Postcards from AI</h1>
    </header>
    <main>
      <img src='{{generatedImage}}'><br><br>
      <button id="button" onclick="printImage()">print postcard</button>
    </main>
    <footer>
      <p>Idea by Annemarie Firnkes & Maritza Lapeira</p>
      <p1>Built by Marvin Voss, credit to Patrick Hanselmann</p1>
    </footer>
    <script>
      function printImage() {
        var myImage = '{{generatedImage}}';
        var myWindow = window.open("", "Image");
        myWindow.document.write("<img src='"+myImage+"''>");
        myWindow.print();
        window.location.href="/";
        myWindow.close();
      }
    </script>
  </body>
</html>
