<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Send me Postcards from AI</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Send me Postcards from AI</h1>
    </header>
    <main>
      <img id="img" src=''>
      <br><br><br>
      <label>be patient, KI is generating your postcard</label>
    </main>
    <footer>
      <p>Idea by Annemarie Firnkes & Maritza Lapeira</p>
      <p1>Built by Marvin Voss, credit to Patrick Hanselmann</p1>
    </footer>
    <script>
    function heartbeat() {
      fetch("/status").then(function(result) { 
      return result.json();
      }).then(function(result) {
      if (result == "try later") {}
        else if (result == "hurra") {
        window.location.href="/image";
        }
      else {
        document.getElementById("img").src = result;
      }
      })                     
    }
      setInterval(heartbeat, 2000);
    </script>
  </body>
</html>
