<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Send me Postcards with AI</title>
    <link  rel="stylesheet" href="style.css"></link>
  </head>
  <body>
    <header>
      <h1>Send me Postcards with AI</h1>
    </header>
    <main>
      <label for="textInput">On AI it is very...</label>
      <input type="text" id="textInput" name="textInput"</input>
      <button id="button">generate postcard</button>
      <div id="result"></div>
    </main>
    <footer>
      <p>Idea by Annemarie & Maritza</p>
      <p1>Built by Marvin Voss</p1>
    </footer>
  </body>
</html>
